body {
  background: #d4cfc693;
  font-family: sans-serif;
}

.card {
  width: 650px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #a7deeca4;
  padding: 8px;
  margin: 8px;
}

.content {
  background: #a7deeca4;
  margin: 8px;
  padding: 16px 8px 16px 8px;
  font-size: 16pt;
}

.button-container {
  background: #a7deeca4;
  font-size: 16pt;
  text-align: center;
  margin: 8px;
  padding: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  margin: 0 auto;
  display: block;
  padding: 8px 24px;
  font-size: 16px;
}